* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: linear-gradient( to bottom, #f8fafc, #B6D0E2 );
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background: linear-gradient( to right, #2F1919, #89484A, #2F1919 );
    padding: 20px 0;
}


html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1; 
}

.logo img {
    width: 170px;
    height: auto;
}

.header_title {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 140px;
}

.navbar {
    display: flex;
    align-items:center;
    gap: 25px;
}

.navbar a {      
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-icon {
    width: 25px;
    height: 25px;
}


.section {
    padding: 40px 0;
}

.sec1img {
    width: 500px;
    height: auto;
}

.section:nth-child(even) {
    background: #f4f4f4;
}


footer {
    background: linear-gradient( to right, #2F1919, #89484A, #2F1919 );
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}


.logo {
    width: 100px;
    height: 100px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrap {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
    align-items: center;
}

.footer__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
}

.footerimg {
    width: 2000px;
    height: auto;
}

.social{
    display:flex;
    gap:30px;
    margin-top:15px;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.cards__title{
    text-align:center;
    margin: 40px 0;
    font-size:20px;
}

.cards__wrap {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom : 20px;
}

.cards__item {
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 18px;
    background: linear-gradient(145deg, #3877C5, #102137);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards__item:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

.cards__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    align-items: center;
}
.cards__item_img1 {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-image: url(imgs/card1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset -8px -12px 32px rgba(0, 0, 0, 0.4);
}



.cards__item_img2 {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-image: url(imgs/card2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset -8px -12px 32px rgba(0, 0, 0, 0.4);
}



.cards__item_img3 {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-image: url(imgs/card-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset -8px -12px 32px rgba(0, 0, 0, 0.4);
}


.link{
    background-color: #112654;
}

.btn {
    margin:auto;
    width:70%;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.btn:hover{
    transform:scale(1.2);
}

.cards__item-content p{
    height:50px;
    margin-top:10px;
}
.cards__item-content h2{
    align-self: center;
    margin-top:10px;
}

.like{
    width:40px;
    margin-top:50px;
    transition:0.3s ease;
}
.like:hover{
    transform:scale(1.09)
}

.services__item {
    background: linear-gradient(145deg, #3877C5, #102137);
    padding: 30px;
    width: calc(100% / 3 - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    color: snow;
    border-radius: 18px;
}

    .services__logo {
        width: 80px;
        margin-bottom: 20px;
    }

.services__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-bottom : 50px;
}

.services__item:hover {
    transform: scale(1.035);
    transition: all 0.3s ease;
    box-shadow: 0px 4px 12px 7px rgba(0, 0, 0, 0.5);
}
