* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background: #333;
    color: azure;
    padding: 20px 0;
}

    header h1 {
        margin-bottom: 10px;
    }

.navbar {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;

}

    .navbar a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

.nav-icon {
    width: 25px;
    height: 25px;
}


.section {
    padding: 40px 0;
}

    .section:nth-child(even) {
        background: #f4f4f4;
    }


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}


.logo {
    width: 100px;
    height: 100px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrap {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social {
    display: flex;
    gap: 30px;
}

    .social a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: dodgerblue;
        text-decoration: none;
        font-size: 18px;
    }

.social-icon {
    width: 30px;
    height: 30px;
}
